
</section>
<% if notice %>
<section class="cp-reservation-section pd-tb80">
<div class="container">
<div class="cp-heading-style1">
<h2> <span></span></h2>
</div>

<div class="cp-reservation-box cp-login-box">
<h3>Notification </h3>
<div class="inner-holder">
<p id="notice"><%= notice %></p>
</div>
</div>
</div>
</section>
<% end %>

<% if alert %>
<section class="cp-reservation-section pd-tb80">
<div class="container">
<div class="cp-heading-style1">
<h2> <span>Access Denied</span></h2>
</div>

<div class="cp-reservation-box cp-login-box">
<h3>Resticted Access </h3>
<div class="inner-holder">
<p id="alert"><%= alert %></p>
</div>
</div>
</div>
</section>
<% else %>


<section class="cp-faq-section pd-tb80">
<div class="container">
<div class="row">
<div class="col-md-12">

<div class="cp-faq-holder">
<h3>AVAILABLE RIDES</h3>
<p id="notice"><%= notice %></p>

 <div class="table100 ver3 m-b-110">
<table class="custom" data-vertable="ver3"  style="width:100%">
  <thead>
    <tr class="row100 head">
    <th class="column100 column1" data-column="column1">Origin</th>
    <th class="column100 column2" data-column="column2">Destination</th>
    <th class="column100 column3" data-column="column3">Date/Time Movement</th>
    <th class="column100 column4" data-column="column4">Followers</th>
    <th class="column100 column5" data-column="column5">Free Space<th>
    <th  class="column100 column6" data-column="column6"></th>
    <th  class="column100 column7" data-column="column7"></th>
    <th  class="column100 column8" data-column="column8"></th>
    </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
      <tr class="row100">
       <td class="column100 column1" data-column="column1"><%=ride.start_location%></td>
       <td class="column100 column2" data-column="column2"><%=ride.end_location%></td>
       <td class="column100 column3" data-column="column3"><%=ride.date_ride%></td>
       <td class="column100 column4" data-column="column4"><%=ride.rider_count%></td>
       <td class="column100 column5" data-column="column5"><%=%><td>
        <td class="column100 column6" data-column="column6"><%= link_to 'View Details', ride %></td>
        <% if user_signed_in? && ride.user_id == current_user.id %>
        <td class="column100 column7" data-column="column7"><%= link_to 'Edit', edit_ride_path(ride) %></td>
        <td class="column100 column8" data-column="column8"><%= link_to 'Remove Ride', ride, method: :delete, data: { confirm: 'Are you sure you want to remove this ride?' } %></td>
        <% else %>
        <td  class="column100 column7" data-column="column7" colspan="2">
        <td  class="column100 column8" data-column="column8" colspan="2">
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

</div>
</div>

</div>
</div>
 </section>

<% end %>