<%= form_with(model: follower, local: true,url: "/rides/#{follower.ride_id}/followers/#{follower.id}/remove") do |form| %>
  <% if follower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(follower.errors.count, "error") %> prohibited this follower from being saved:</h2>

      <ul>
      <% follower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="inner-holder">
  <label>Your comment</label>
   <%= form.text_field :comment, placeholder: 'Please state why', autofocus: true, autocomplete: "comment", required: true, value: follower.comment  %>
  <br><br>
 <%= form.hidden_field :ride_id, required: true, value: @ride.id  %>

  </div>
  <div class="inner-holder">
  <label>Check Below to Unsubsribe</label>
  
  <%= form.check_box :will_ride %>

  </div>
  <p>Tell we would like to know </p>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
