<%= form_with(model: ride, local: true) do |form| %>
  <% if ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="inner-holder">
<label>Origin</label>
 <%= form.text_field :start_location, autofocus: true, autocomplete: "start_location", required: true  %>
</div>

<div class="inner-holder">
<label>Destination</label>
 <%= form.text_field :end_location, autofocus: true, autocomplete: "end_location", required: true  %>
</div>

<div class="booking-inner-holder">
<label>Ride Date </label>
<div class="booking-date">
<div class="inner">
<%= select_day(Date.today) %>
<span>Day</span>
</div>
<div class="inner">
<%= select_month(Date.today) %>
<span>Month</span>
</div>
<div class="inner">
<%= select_year(Date.today, :start_year => Date.today.year, :end_year => 8.years.from_now.year) %>
<span>Year</span>
</div>
<div class="inner inner2">
<span>at</span>
</div>
<div class="inner">
<%= form.select :hour, ((0..24).map {|i| [i,i] } << ["No limit",nil]) %>
<span>Hours</span>
</div>
<div class="inner">

<%= form.select :minutes, ((0..59).map {|i| [i,i] } << ["No limit",nil]) %>
<span>Minutes</span>
</div>


<div class="inner inner2">
<i class="fa fa-calendar-check-o"></i>
</div>
</div>
</div>
<div class="booking-inner-holder">
<label>No. of Passengers</label>
<%= form.select :rider_count, options_for_select([['1 Passenger', 1], ['2 Passengers', 2],['3 Passengers', 3],['4 Passengers', 4],['5 Passengers', 5] ]) %>
</div>
<div class="inner-holder">
<label>Comments</label>

<textarea placeholder="Message" name="comment" required=""></textarea>
</div>
  <div class="inner-holder">
   <%= form.submit "Set Up Ride", class: "submit" %>
  </div>
<% end %>


