<div id="cp-main-content">

<section class="cp-faq-section pd-tb80">
<div class="container">
<div class="row">
<div class="col-md-12">

<div class="cp-faq-holder">
<h3>RIDES</h3>
<p id="notice"><%= notice %></p>
<% if @rides.count > 0 %>
<table class="dataTable" id="RideResult">
  <thead>
    <tr>
    <th>Origin</th>
    <th>Destination</th>
    <th>Date/Time Movement</th>
    <th>Followers</th>
    <th>Free Space<th>
    <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
      <tr>
       <td><%=ride.start_location%></td>
       <td><%=ride.end_location%></td>
       <td><%=ride.date_ride%></td>
       <td><%=ride.rider_count%></td>
       <td><%=%><td>
        <td><%= link_to 'View Details', ride %></td>
         
        <td colspan="2">
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
 You have not subscribed to a ride yet <%= link_to "Click here", find_ride_path %> to search for one!!! 
<% end %>  
</div>
</div>

</div>
</div>
 </section>
</div>
<script>
$(document).ready(function() {
    $('#RideResult').DataTable();
} );
</script>
